body {
    background-image: url("rainbows.png");
    font-family: 'Gloria Hallelujah', cursive;
}
h1 {
   color: midnightblue;
}
button {
    background-color: lightgreen;
    color: darkgreen;
}
canvas {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {
    from{box-shadow: 1px 1px 50px mintcream;}
    to{box-shadow: 1px 1px 50px cornflowerblue;}
}